<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizspiel-Admin</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
    <style>
        #menu {
            display: none;
        }
    </style>
</head>
<body>
<h1>Quizspiel-Admin</h1>
<div id="menu">
    <ul>
        <li><a href="/themes">Themen verwalten</a></li>
        <li><a href="/teams">Teams verwalten</a></li>
        <li><a href="/questionsets">Fragensätze verwalten</a></li>
        <li><a href="/questions">Fragen verwalten</a></li>
    </ul>
</div>

<script>
    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && event.key === 'p') {
            if (document.activeElement.tagName.toLowerCase() !== 'input' && document.activeElement.tagName.toLowerCase() !== 'textarea') {
                event.preventDefault();
                var menu = document.getElementById('menu');
                if (menu.style.display === 'none') {
                    menu.style.display = 'block';
                } else {
                    menu.style.display = 'none';
                }
            }
        }
    });
</script>
</body>
</html>